<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>welcome to atebitbakery!</h1>
<div class="welcome">
  Greetings human folk!  <br />
 What do you get when you combine one part bakery, one part nerd culture and a handful of awesome hard working friends? <br />
 The answer is right here!  atebitbakery is your one stop shop for delicious baked goods shaped like your favourite hero or villain!<br />
 Got a request?  We're always looking for new ideas!  Stop by the shop today! <br />
 Or, if you are one of those lazy couch potatoes (don't worry, we are too!) check out our products below -- that's right!<br />
 You can order online from the convenience of your throne.  We'll take care of the delivery! Happy Shopping!<br />
</div>
<br />
<img src="/assets/bakery.png" alt="The atebitbakery!">
<br />
<h1>Products</h1>
<% @products.each do |product| %>
<div class="entry">
<%= image_tag(product.picture) %>
<h3><%= product.name %></h3>
<%= sanitize(product.description) %>
<div class="price_line">
<span class="price"><%= number_to_currency(product.price) %></span>
<%= button_to 'Add to Cart', line_items_path(:product_id => product), :remote => true %>
</div>
</div>
<% end %>
